*{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 5fr 1fr;
}

.heading{
    grid-area: 1/1/2/6;
    background-color:#f4cc87;
    display: grid;
    grid-template-columns: repeat(5, 1fr)

}

.myLibrary{
    grid-area: 1/1/2/3;
    display: grid;
    grid-template: 1fr/1fr 1fr;

}

.myLibrary > span{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}
.myLibrary > h2{
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: start;
    align-items: center;
}

#main{
    grid-area: 2/1/3/6;
    background-color: rgb(220, 223, 230);
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr);
    grid-template-rows:  repeat(2, 1fr);

}

#book-form{
    border: 2px solid black;
    border-radius: 5px;
    grid-area: 1/6/2/7;
    height: 300px;
    width: 240px;
    margin: 0px;
    background-color: #FFCB69;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 0.5fr 1fr;
  
}

#submit-btn{
    grid-area:6/1/7/2 ;
}
form > h4 {
    text-align: center;
}

.footer{
    grid-area: 3/1/4/6;
    background-color: #f4cc87
}

.cards{
    grid-area: 1/1/3/6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 5px; */
    
    

}

.card{
    margin: 0px;
    border: 1px solid black;
    border-radius: 15px;
    height: 200px;
    width: 20rem;
    text-align: center;
    background-color: #d2bfe0;
}

.book-title{
    background-color: rgb(245, 236, 236);
    padding: 10px;
}